<!-- Pagina creada por German Correa -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gatos</title>
</head>
<body>
    <main>
        <h1>Aplicación de fotos de Gatos</h1> <!--Titulo-->

        <section> <!--Primera seccion-->
            <h2>Fotos de Gatos</h2>
            <p>Para ver más fotos de gatos click en la siguiente pagina <a target ="_blank" href="https://ar.pinterest.com/yamilettegalan/fotos-de-gatos/">más gatos.</a></p>
        </section>

        <section> <!--Segunda seccion-->
            <h2>Lista de las cosas que le gustan y odian los gatos.</h2>
            <img src="/img/gatitos-tiernos.jpg" width="300px" height="300px" alt="gato tierno">
            <figcaption>Gatito a punto de saltar</figcaption>
        </section>

        <section> <!--Tercera seccion-->
            <h3>Cosas que aman los gatos</h3>
            <ul>
                <li>Dormir.</li>
                <li>Arañar.</li>
                <li>Limpiarse.</li>
            </ul>
        </section>

        <section> <!--Cuarta seccion-->
            <img src="/img/th-1457914774.png" alt="gatito sorprendido" width="300px" height="300px">
            <figcaption>Gatito sorprendido por las cosas que no le gustan</figcaption>
            <h3>Cosas que odian los gatos</h3>
        </section>

        <section> <!--Quinta seccion-->
            <ol>
                <li>Su plato vacio de comida.</li>
                <li>Recibir caricias en la panza.</li>
                <li>Que no reciba atención humana.</li>
            </ol>
        </section>
    </main>

    <footer> <!--Pie de pagina-->
        <p>Todo los derechos reservados - German Correa - 2023</p>
    </footer>
</body>
</html>